body, p, h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

/**************/
/*** header ***/
/**************/

ul{
    list-style-type: none;
}

header {
  background-color: blue;
  border-bottom: 2px rgb(108,92,81) solid;
  margin-left: auto;
  margin-right: auto;
  position: static;
  width: 1200px;
  overflow: auto;
}

#logo {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  font-weight: bolder;
  color: yellow;
  text-align: center;
}


#link {
  text-align: center;
  margin-top: 40px;
}

#menu{
  text-align: center;
}

a:link{
    color: red;
}

a:visited{
    color: red;
}

a:hover{
    color:yellow;
}

/************/
/*** body ***/
/************/

body {
  background-color: /*#E6E6D6*/aqua;
  margin-left: auto;
  margin-right: auto;
  position: static;
  width: 1200px;
  border: 2px rgb(108,92,81) solid;
  padding: 20px;
}

#main{
  overflow: auto;
  background-color: whitesmoke;
}

#main-center {
  width: 440px ;
  margin-left: auto ;
  margin-right: auto ;
}

#menu-center{
  width: 600px ;
  margin-left: auto ;
  margin-right: auto ;
}

table, th, td{
  border: 1px solid black;
}

.items{
  float: right;
  text-align: center;
  display:inline;
  margin: 2em;
}

.pricing{
  text-align: center;
}

/**************/
/*** footer ***/
/**************/

footer {
  background-color: blue;
  border-top: 2px rgb(108,92,81) solid;
  margin-left: auto;
  margin-right: auto;
  position: static;
  width: 1200px;
  overflow: auto;
  height: 20em;
  color: yellow;
}

#footerleft {
  float: left;
  text-align: center;
  padding-left: 30px;
}

#footerright {
  float: right;
  text-align: left;
  padding-right: 40px;
}

#footercenter {
  text-align: center;
  font-size: 3em;
  font-weight:bolder;
}

.footernotes{
  text-align: center;
  font-size: .75em;
}

.footerlogo{
  font-family: 'Bangers', cursive;
  padding-top: 2em;
  color:
}
